body {
  font-family: "Poppins", sans-serif;
}

.heading {
  font-family: "oswald", sans-serif;
  color: crimson;
}
.mission {
  background-color: #edf5f6;
  width: 50%;
  text-align: justify;
  border-radius: 20px;
  margin: 30px 30px 30px 150px;
  padding: 30px 30px 30px 30px;
}
.mission img {
  width: 300px;
}
.vision {
  background-color: #ffeeee;
  width: 50%;
  text-align: justify;
  border-radius: 20px;
  margin: 30px 30px 30px 30px;
  padding: 30px 30px 30px 30px;
}
.vision img {
  width: 300px;
}
.goal {
  background-color: #fff4d6;
  width: 50%;
  text-align: justify;
  border-radius: 20px;
  margin: 30px 30px 30px 30px;
  padding: 30px 30px 30px 30px;
}
.goal img {
  width: 300px;
}
.whole {
  display: flex;
}
.whole {
  background: url(bg/minimalist-4k-wallpaper-for-pc-1.jpg);
  background-size: 900px;
}
